#mainCanvas {
  max-width: 98%;
  max-height: 98%;
  height: auto;
  width: auto;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  border: black 3px solid;
}
